talosconfig
main-k3snode04.home.thetank.org.yaml
main-k3snode03.home.thetank.org.yaml
main-k3snode02.home.thetank.org.yaml
main-k3snode01.home.thetank.org.yaml
main-k3snode04.yaml
main-k3snode03.yaml
main-k3snode02.yaml
main-k3snode01.yaml
main-k3snode05.yaml
main-k3snode06.yaml
main-k3snode07.yaml
